.container {
    width: 80vh;
    height: 80vw;
    background-color: palegoldenrod;
    border: 2px solid black;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;

}

.item {
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 2px solid black;
    
}