body {
    background-color: #669ddb86;
  }

  p {
    text-align: left;
    padding-left: 20px;
  }

.slika {
      position: absolute;
      left: 20px;
      top: 10px;
  }
  .slika2 {
    position: absolute;
    left: 160px;
    top: 50px;
}

  code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
  }
  
  .kartica {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 15rem;
  }
  
  .kartica-unutrasnjost {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .kartica:hover .kartica-unutrasnjost {
    transform: rotateX(180deg);
  }
  
  .kartica-prednja, .kartica-zadnja {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .kartica-prednja {
    background-color: rgb(247, 242, 242);
    color: black;
  }
  
  .kartica-zadnja {
    background-color: #444;
    color: white;
    transform: rotateX(180deg);
  }

