html {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    height: 64px;
    margin: 0;
    color: white;
    background-color: #6366f1;
}

.menu_icon {
    display: inline-block;
    margin-top: 22px;
    padding-left: 13px;
}

.menu_icon .line {
    background-color: #ffffff;
    height: 2px;
    display: block;
    width: 18px;
}

.menu_icon .line+.line {
    margin-top: 3px;
}

.right {
    float: right;
    margin-top: 0px;
    padding-right: 31px;
    position: relative;
    top: 7px;
}


.colors {
    display: inline-block;
    border: 1px solid;
    border-radius: 15px;
    height: 27px;
    background-color: white;
    margin-right: 20px;
    padding-bottom: 8px;
}

.devices img {
    position: relative;
    top: 13px;
    margin-right: 20px;
}

.view {
    border: 1px solid white;
    border-radius: 23px;
    padding: 7px 15px 6px 13px;
    position: relative;
    top: 6px;
    margin-right: 20px;
}



/* ************************************************** */
/* Buttons na header-u */
.button {
    background-color: #6366f1;
    border: none;
    color: white;
    padding: 9px 9px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #6366f1;
}

.button1:hover {
    background-color: #6366f1;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #f59e0b;
}

.button2:hover {
    background-color: #f59e0b;
    color: white;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #ef4444;
}

.button3:hover {
    background-color: #ef4444;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #8b5cf6;
}

.button4:hover {
    background-color: #8b5cf6;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #ec4899;
}

.button5:hover {
    background-color: #ec4899;
    color: white;
}

.button6 {
    background-color: white;
    color: black;
    border: 2px solid #3b82f6;
}

.button6:hover {
    background-color: #3b82f6;
    color: white;
}

.button7 {
    background-color: white;
    color: black;
    border: 2px solid #3b82f6;
}

.button7:hover {
    background-color: #3b82f6;
    color: white;
}


/* **********************************************
************** CONTAINER ********************* */

.container {
    margin: auto;
    border: 1px solid black;
    padding: 150px 50px 50px 50px;
}

.img_part{
    display: inline-block;
    height: 400px;
    width: 42%;
    border: 1px solid black;
}

.text_part {
    display: inline-block;
    height: 200px;
    width: 50%;
    border: 1px solid black;
    float: right;
}